
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

header {
  max-width: 1140px;
  background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url('images/Banner.png');
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 16px;
}

.header-title{
    color: white;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    padding-left: 300px;
    padding-right: 300px;
}
.header-sub-title{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-top: 177px;
}